body {
  background-image:url('/images/money.jpg');
  background-attachment:fixed;
  background-position:center;
}

.container {
  background: #FAFAFF;
  color: #000130;
  margin: 5em;
  padding: 5em;
  border-radius: 5em;
}

a {
  color: #443300;
  text-decoration:none;
}

a:visited {
  color: #726F65;
}

a:hover {
  color: #484850;
}

