body {
  background-image:url('/images/money.jpg');
  background-attachment:fixed;
  background-position:center;
  font-family: 'Cagliostro';
}

.container {
  background-color: #E6E7FF;
  color: #000130;
  margin: 10em;
  padding-left: 5em;
  padding-right: 5em;
  border-radius: 2em;
}

.header {
  border-bottom: solid;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
}

.logo {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 700%;
  margin-top: 0.5em;
}

.puff {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 130%;
}

.menu {
  text-align: center;
  padding: 1em;
}

.top_right {
  text-align: right;
}

.content {
  padding: 2em;
}

a {
  color: #443300;
  text-decoration:none;
}

a:visited {
  color: #726F65;
}

a:hover {
  color: #484850;
}

