%h2
  _why?
%p
  I have had my own company for about 10 years now and all 3 bookkeeping software I have used have sucked a lot. And it could really be much easier. So kaikei is how I would like to work with my books. If you like it or not is perhaps a matter of what you are used to and also how much you run a business that is like mine.
%p
  The first iteration of kaikei is exactly what I need to keep the books for my single man consultancy. It should work fine for any swedish "egen firma" or "handelsbolag". Thus there is no support for salaries. I also don't have any assets worth bookkeeping so there is no support for inventory or other holdings.
%h2
  Credits
%p
  kaikei has been made possible due to tremendous open source work by many others. Here are some of these projects listed.
%h3
  Technical stuff
%p
  keikei is built with Ruby using the padrino framework (which is built on top of the awesome sinatra). As database engine, couch has been used. The couch potato made the integration with couch much easier. For testing rspec with rack-test has provided with the basics. There will probably be a set of cucumber features on top of that later on. For client side scripting coffeescript and jquery has made the task swift and easy.
%h3
  Content
%p
  The 
  = link_to 'money background picture', 'http://www.flickr.com/photos/isherwoodchris/2887173612'
  was shot by
  = link_to 'CJ Isherwood', 'http://www.flickr.com/photos/isherwoodchris/'
  of flickr.
  
