%p
  kaikei has been made possible due to tremendous open source work by many others. Here are some of these listed.
%h2
  Technical stuff
%p
  keikei is built with Ruby using the padrino framework (which is built on top of the awesome sinatra). As database engine couch has been used. The couch potato made the integration with couch much easier. For testing rspec with rack-test has provided with the basics. There will probably be a set of cucumber features on top of that later on. For client side scripting coffeescript and jquery has made the task swift and easy.
%h2
  Content
%p
  The 
  = link_to 'money background picture', 'http://www.flickr.com/photos/isherwoodchris/2887173612'
  was shot by
  = link_to 'CJ Isherwood', 'http://www.flickr.com/photos/isherwoodchris/'
  of flickr.
  
